<!DOCTYPE html>
<html>
<head>
  <title>BDash</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- jQuery UI -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<body>

  <%= yield %>

</body>
</html>
